[2020-10-05 19:32] badda71 opened #1 "Feature request: Support for relative mouse movements"
Sometimes applications require relative mouse movements rather than an absolute position. Especially 3D-games are not playable with absolute mouse movements, only relative ones (almost all 3D games). I tested this with RealVNC - RealVNC supports relative mouse movements and there, the games are playable. However, RealVNC uses a proprietary protocol extension for this.
UltraVNC could be easily exte

[2020-10-28 13:34] Neustradamus commented on #1
Linked to:
- https://forum.ultravnc.net/viewtopic.php?f=4&t=36860

[2020-10-28 19:59] joejoe2010 opened #2 "Bug bounty program"
Hi,
have you been thinking about participating in a bug bounty program like hackerone in order to increase the security of this widely used program?
Thanks
joejoe

[2020-11-10 04:18] eebssk1 opened #3 "Hook mode always used if in performance mode."
I'm currently run uvnc on win10.Since some wpf windows will show blank so i enabled DDE.However after i enabled performance mode it begin to use (sc)hook mode only everytime.This is annoying.I set cpu max usage to other values and then it works again.

[2020-11-17 16:16] tghw opened #4 "Please tag versions"
Some people bind to specific versions of UltraVNC. Tags would be very helpful in using this new repo.

[2020-11-25 07:46] wuwei928 opened #5 "login error"
I used the wrong password to quickly log in several times, and then used the fast login with the correct password, and returned authentication failure

[2020-11-26 21:04] RudiDeVos commented on #5
Wrong password to quickly several times:  The viewer ip is blacklisten and you need to wait a few minutes.
Protection

[2020-11-26 21:04] #5 closed

[2020-11-26 21:26] RudiDeVos commented on #3
What you can try, remove vnchook and schook dll's.
If they don't exist uvnc is never gonna use that method.  Hooking is a fallback method.
I will try to repeat it and check if the sethook is called by settings abreak at that spot.

[2020-11-26 21:41] RudiDeVos commented on #2
Uvnc is free. We don't have fonds for this.
Kaparsky checked our source alast year , some weak points were fix.

[2020-11-26 23:51] eebssk1 commented on #3
I found it may not really caused by cpu cap.It's pretty random.If something already explicitly using 3d like QT-based app,firefox and other things are running,then uvnc will always(most likely) use schook,even if i close them and restart uvnc service.
The only always work method is reboot my pc and vnc in, then login and start any app,this will use DDE.
I'll test the method you said and see if it

[2020-11-27 21:51] joejoe2010 commented on #2
Hi,
I'm aware that there's no fond for this. Bug bounty programs can also be made without offering money to those who find something.

[2020-11-30 14:48] eebssk1 commented on #3
@RudiDeVos  Well I think I'm basically found the problem.
If my laptop's lid is closed,uvnc failed to use ddengine because there's no monitor available and framebuffer is paused.However if you connect to uvnc before you close the lid,uvnc will continue work fine with ddengine after closing lid cause it's still using the framebuffer and windows knows this(this is guess).
I tried delete all hook lib

[2020-11-30 22:54] RudiDeVos commented on #3
The virtual display driver act as a usb monitor, not a rdp independed session.
What happen if you connect an external monitor and close the lid, does the external monitor stay active ?
Normal, your portable software has an option to configure the close lid action.

[2020-11-30 23:43] eebssk1 commented on #3
@RudiDeVos Yes windows automatically switch display to external monitor after lid is closed.
I tried set do nothing after closing lid in power setting but it's the same. The only soft way i found is disable the laptop lid acpi device in device manager,but this will make laptop screen unable to wake from sleep.

[2020-12-03 05:56] eebssk1 commented on #3
Found a trick...Reboot laptop and then vnc in will let uvnc use ddengine after log in.This is random but it works most time.Since there's no critical process running this is at least sufficient for me..

[2020-12-22 04:37] higunjan opened #7 "How to build the executable file?"
Please write some README.md to guide how to build the exe from source code.

Atlease you can provide for Ultravnc Viewer and Ultravnc Server.

I tried it with g++ but through me an error `rfb.h:53:10: fatal error: rfb/gii.h: No such file or directory`.

Can you please guide me how can we do it?

![image](https://user-images.githubusercontent.com/6925531/102849536-5bdf8080-443d-11eb-99fc-2808d81874

[2020-12-29 18:37] RudiDeVos commented on #7
We use Visual Studio 2017/20190 + nasm
Normal it should work out of the box if you open the project sln files.
Using mingw you need to create your own projects, include paths unless mingw have a visual studio convert options.

[2020-12-29 18:37] RudiDeVos commented on #4
Started to use Tags from 1.3.2, to late for the older versions

[2020-12-29 18:38] #3 closed

[2020-12-29 18:38] #1 closed

[2020-12-29 18:38] #2 closed

[2020-12-29 18:38] #4 closed

[2021-01-03 12:48] RudiDeVos opened #8 "Crash Tigervnc server/viewer Ultravnc viewer/server"
There is a minor implementation difference between for  ExtDesktop.
TigerVNC expect that the server send  valid resolution in the "inform ExtDesktopSize message".

UltraVNC code changed to make it compatible.
Testbuild
https://www.uvnc.eu/download/132/UltraVnc_132Tiger.zip

[2021-01-03 12:51] RudiDeVos commented on #8
Clipboard is being checked.

[2021-01-04 09:24] CendioOssman commented on #8
It should indeed. Let me have a look.

I'm not seeing any notifications from the viewer for clipboard from client to server either. Did you happen to check that as well?

[2021-01-04 12:21] CendioOssman commented on #8
Server to client should be fixed in https://github.com/TigerVNC/tigervnc/pull/1169.

However I'll need your help with the other direction. I don't seem to get anything from the UltraVNC client, even if I manually select a clipboard sync.

[2021-01-04 20:48] RudiDeVos commented on #8
On clipboard change UltraVNC send a clipProvide, not a clipNotify.
I see a rfbClientCutText + clipProvide going out.

TigerVNC correct read the clipboard data, it's only not placed in the clipboard.  If not, all would be out of sync.
Possible TigerVNC always expect a clipNotify

Flow on UltraVNC server
Read sz_rfbClientCutTextMsg
Read extendedClipboardDataMessage with length from sz_rfbClientCutTe

[2021-01-05 09:18] CendioOssman commented on #8
It does. We set the length in the caps message to `0` to indicate this. We want to avoid transferring clipboard data if not needed, and it allows us to better keep track of multiple clients in the server.

Is it possible to get the UltraVNC viewer to respect TigerVNC's caps setting and send notify instead?

[2021-01-05 19:39] RudiDeVos commented on #8
Viewer send the caps he wants, Server send back the caps he wants..
The common caps are direct send as clipProvide message + data.
Current we don't use the ClipNotify, server ignore the message

Optional a ClipNotify message can be used to indicate the server that also other caps exist.
If used it's send after the  clipProvide.
`	clipNotify		= 0x08000000,	// notify that the formats combined with t

[2021-01-08 09:28] CendioOssman commented on #8
The bug is here:

[code]

It should be `rfbClientCutText`. Right now the server will read this as `FrameBufferUpdateRequest` (since that has the same value as  `rfbServerCutText`), but the message size doesn't match and everything goes nuts after that.

[2021-01-08 19:42] MarcusWichelmann commented on #8
A [vnc client implementation](https://github.com/MarcusWichelmann/MarcusW.VncClient) by me was affected by this, too. I just tested your testbuild and can confirm that the bug is fixed there. Is it's source code already pushed anywhere? Will this fix land in master?

[2021-01-08 20:22] RudiDeVos commented on #8
extDesktop is Pushed in development
https://github.com/ultravnc/UltraVNC/tree/development

[2021-01-08 20:30] MarcusWichelmann commented on #8
@RudiDeVos Thank you!
I just noticed, that, with your test build, the server does not send `ExtendedDesktopSize` pseudo encodings when the server size changes, although the server knows that the client supports this extension. Instead it sends a `DesktopSize` now, which looks wrong.
Maybe you'd like to take one more look?

[2021-01-10 15:11] RudiDeVos commented on #8
Final  the clipboard working from viewer to TigerVNC server.
UltraViewer send clipNotify.
TigerServer send clipRequest(actual he is sending multiple clipRequests, one request for each format.
UltraVncViewer answer to each clipRequests with a clipprovide.

Remark:
When the viewer doesn't answer direct, the sever keeps sending clipRequests until he get a clipProvide.
If the viewer doesn't send a cli

[2021-01-10 16:29] RudiDeVos commented on #8
Marcus,
ExtendedDesktopSize  is used to allow the viewer "once, on initialization" request a server desktop size.
UltraVNC viewer can request a TigerVNC server desktop size
TigerVNC viewer can request a UltraVNC server desktop size
Current that's the only part supported of the ExtendedDesktopSize  protocol.

On windows, you can only clone the current desktop. changing the desktop is changing the i

[2021-01-11 09:47] MarcusWichelmann commented on #8
Ah, thank you for clarification.

So the `ExtendedDesktopSize` protocol is only partially implemented and the server does not use it to inform the clients about later server-side size changes?

Okay, then I'll remove a check from my code to still allow the use of `DesktopSize` in this case.

[2021-01-13 07:28] Sorien opened #9 "http proxy support"
today many ppl are behind http proxy for security reasons but ultra vnc server doesn't support such option.

would be possible to add it, according to specs its just one request at connection start

https://tools.ietf.org/html/rfc7231#section-4.3.6

[2021-01-18 12:37] CendioOssman commented on #8
We just pass along the requests from the application, so this sounds like some application issue. Which application did you test with? I just used a simple xterm here.

And we're just interested in "text" right now. We don't support anything fancier yet. :)

This new version breaks server to client for me. The new viewer sets the length for text in caps to 0, so the server only sends a notify when

[2021-01-18 19:02] RudiDeVos commented on #9
You can only do it with HTTPS and ssl , a http proxy refuse it.
This require a https server/client module in front of the vnc server/viewer
We use to have it in UltraVNC but was removed, not compatibel and slow has hell.

[2021-01-18 20:14] RudiDeVos commented on #8
re-tested viewer UltraVNC server TigerVNC
Only desktop, no app on it
Vns is started
 rudi@rudi-Virtual-Machine:~/.vnc$ more xstartup
[code]

IN clipCaps
OUT clipNotify <<< ctr-c on the viewer pc
IN clipRequest << request txt
IN clipRequest << request txt
IN clipRequest << request txt
IN clipRequest << request txt
OUT clipProvide >> send txt
IN clipRequest << request txt
OUT clipProvide
IN clipRequ

[2021-01-18 20:35] Sorien commented on #9
HTTP proxy is not protocol dependent it will forward any protocol, internally we use it for SSH, HTTP, FTP, and so on, just first request has to be http(s) request with proper headers (all our clients http proxy still supports non-secure variant, they has to) ... it will just forward traffic that's all (i had to implement is few times it's not so bad) ... I really don't know why you think that it'

[2021-01-18 20:58] RudiDeVos commented on #9
Lets see, i know i have the code somewere

[2021-01-18 21:14] RudiDeVos commented on #9
Git goto 1december 2014
winvnc search for G_HTTP
httpconnect.h, httpconnect.cpp

It was 7 years ago..

[2021-01-18 21:26] Sorien commented on #9
i see https://github.com/ultravnc/UltraVNC/commit/5702e991ca0c072ca87983bb699b70e67adbff08#diff-c2a497636b0879b1309032ea764df35932409280b86c92575da882b61e074e18R1121

it implements socks/5 proxy support as well, it obtains params from the system `WinHttpGetIEProxyConfigForCurrentUser` i was hoping to be able to set it with the command line and don't think that it supports mode when UltraVNC runs a

[2021-01-24 21:10] RudiDeVos commented on #8
Latest development build to fix TigerVNC issue can be found
http://www.uvnc.eu/download/133/

[2021-02-02 16:18] CendioOssman commented on #8
Yeah, that's indeed inefficient. Not clear how to improve it though and also staying reliable. The protocol has no way of indicating a failure so we aren't guaranteed a response, and hence can't just wait.

I'm unable to reproduce the issue in my end though. At best I'm able to get two requests, but those as handled by the clipboard cache so it's never sent to the client.

Do the requests come rig

[2021-02-04 21:42] RudiDeVos commented on #8
I erxplained it wrong
Caps flags indicate what you support
Size indicate provide.
Server caps txt=1 size 0: I support TXT and provide me the TXT when < 0 else  send a Notification. -> Alwyas send Notification
Viewer send Caps 1 with size 10000: I support TXT and provide me the TXT when size < 10000 else send a provide.
Viewer send Caps 1 with size 10000: I support RTFand provide me the RTF when si

[2021-02-08 09:03] CendioOssman commented on #8
I think everything should be in place in that case. :)

[2021-02-08 15:58] jopi2016 opened #10 "Check UltraVNC by Google's OSS-Fuzz"
Hi,
have you been thinking about checking UltraVNC's source code with Google's OSS-Fuzz?
see https://github.com/google/oss-fuzz

Greetings

[2021-02-09 21:30] badda71 opened #11 "Infinite loop w/ error message during uvnc server startup"
I just downloaded the "ultravnc 1.3.2 bin zip" and tried to start the server executable (without admin priviledges). However, for both 32 and 64-bit servers, I'm getting the following error message in an infinite loop. To stop the error message from appearing, I need to kill the process using task manager. System: Windows 10 Enterprise, ver 1909.
![grafik](https://user-images.githubusercontent.com

[2021-02-10 08:54] badda71 opened #12 "Feature request: Support for relative mouse movements - reopened"
Feature request https://github.com/ultravnc/UltraVNC/issues/1 is closed but has actually not been implemented by the latest release. Looking at the code, gii-protocol extension is implemented, but it is ONLY possible to add ONE input device in order to emulate a touch-screen (with 1-10 valuators for 1-10 touch points), not a mouse with relative movements.

[2021-02-16 19:51] #8 closed

[2021-03-29 16:33] wqweto opened #13 "File Transfer support for rfbUltraVNC_MsLogonIIAuth"
In `ClientConnection::NegotiateProtocolVersion` function (in `ClientConnection.cpp` file) for protocol version `RFB 003.008` there is a comment left like this

	else if (m_minorVersion == 8) // adzm 2010-09 - RFB 3.8
	{
		// adzm2010-10 - RFB3.8 - m_fServerKnowsFileTransfer set during rfbUltraVNC auth
	}

But in `ClientConnection::AuthenticateServer` function the mentioned flag `m_fServerKnowsFile

[2021-04-10 20:09] RudiDeVos commented on #13
The authentication is a vector.
![image](https://user-images.githubusercontent.com/71467484/114283274-3eb0db00-9a49-11eb-9d61-46bfde459339.png)

  | [0] | 17 '\x11' | unsigned char  // rfbUltraVNC 17
  | [1] | 115 's' | unsigned char  // rfbUltraVNC_SecureVNCPluginAuth_new 0x73
  | [2] | 114 'r' | unsigned char // rfbUltraVNC_SecureVNCPluginAuth 0x72

As encoding 17 is part of the vector m_fServer

[2021-04-11 11:36] wqweto commented on #13
Is there a reason the file transfer protocol extension is not enabled when server offers (and UltraVNC client accepts) `rfbUltraVNC_MsLogonIIAuth` authentication?

Note that file transfer protocol extension **is** enabled for passwordless `rfbUltraVNC` authentication only but both `rfbUltraVNC` and `rfbUltraVNC_MsLogonIIAuth` security types are implemented by UltraVNC only.

It seems weird that wh

[2021-04-11 14:18] RudiDeVos commented on #13
The authentication is a vector and authentications are combined.
A) {rfbUltraVNC , rfbUltraVNC_SecureVNCPluginAuth_new , rfbUltraVNC_SecureVNCPluginAuth }
OR
B) {rfbUltraVNC , rfbUltraVNC_MsLogonIIAuth }
C) {rfbUltraVNC_MsLogonIIAuth }

A) rfbUltraVNC is handled  ( set filetransfer true) and request next authentication.
rfbUltraVNC_SecureVNCPluginAuth_new is handled result can be allow/disallow/no

[2021-04-11 14:24] wqweto commented on #13
Ok, so what should a VNC server send as supported security types to use password-protected `rfbUltraVNC_MsLogonIIAuth` and indicate support for file transfer protocol extension?

Is this a problem? I though UltraVNC viewer always first sends `AbortFileTransfer` message to negotiate file transfer availability with the server anyway.

[2021-04-11 17:54] RudiDeVos commented on #13
` What is rfbMYVNCVersion? I cannot find this constant in the sources.`
rfbMYVNCVersion was just a sample, like RfbUltravnc there exist many others.
![image](https://user-images.githubusercontent.com/71467484/114315157-dec83c00-9afd-11eb-8311-b00c493cedae.png)

`Ok, so what should a VNC server send as supported security types to use password-protected rfbUltraVNC_MsLogonIIAuth and indicate support

[2021-04-11 19:24] wqweto commented on #13
I'm writing a **server** (not a viewer) and the problem I have is when using UltraVNC viewer as mentioned in the first post. It is the UltraVNC viewer that does not set it's internal `m_fServerKnowsFileTransfer` flag when your proprietary `rfbUltraVNC_MsLogonIIAuth` authentication is negotiated to be used between the server and the viewer.

In my server I successfully implemented `rfbUltraVNC_MsLo

[2021-04-11 20:50] RudiDeVos commented on #13
My mistake, you are building the server.
Then it's your server code that require changes.

The AuthenticateClient(std::vector<CARD8>& current_auth) call himself back with a smaller list.
You need to send something like this on the server, code is complex, but extracte it look like this
for {rfbUltraVNC, rfbUltraVNC_MsLogonIIAuth}

[code]

[2021-04-11 21:35] wqweto commented on #13
Thank you very much! That did the trick and I have the file transfer protocl extension working in the UltraVNC viewer since commit https://github.com/wqweto/VbVncServer/commit/ba3b5ea63903505dd414c5ce2308a3814d293667

On first pass the server sends a single `rfbUltraVNC` only (no `rfbUltraVNC_MsLogonIIAuth` yet) and only if the viewer chooses to use it as the security type and only if the server i

[2021-04-12 13:06] wqweto commented on #13
At some point I realised that the two pass negotiation allows for `rfbUltraVNC` on first pass and standard `rfbVncAuth`  on second which drops `rfbUltraVNC_MsLogonIIAuth` implementation altogether and shaves ~200 LOC off my minimal VNC server which is nice!

I'll be closing this now.

[2021-04-21 04:15] breisig opened #14 "Upgrade to the latest zstd 1.4.9"
Update the core zstd from 1.4.5 to the latest 1.4.9 [ https://github.com/facebook/zstd ]

[2021-04-24 16:28] wqweto commented on #13
Another issue with using a `rfbUltraVNC` on first pass just to set `m_fServerKnowsFileTransfer` before continuing with another supported authentication is that this flag is passed way earlier to `CreateButtons` function for the toolbar to include extra buttons for file transfer and other UltraVNC specific function.

The problem is that when `m_fServerKnowsFileTransfer` is set for `rfbUltraVNC`  au

[2021-05-07 16:45] lwcorp opened #15 "Can you remove https://sourceforge.net/p/ultravnc/code/ ?"
The latest file update in https://sourceforge.net/p/ultravnc/code/ is currently from April 2020.
The latest file update from this repository is currently from December 2020.

This indicates you've stopped using SourceForge in favor of GitHub.
In that case, can you remove SourceForge's repository to avoid any confusion?

[2021-05-14 21:39] Neustradamus commented on #15
@lwcorp: On SourceForge homepage, there is a message about the change...
- https://sourceforge.net/projects/ultravnc/

Note: There is a development branch too.

[2021-05-14 21:41] Neustradamus commented on #13
@RudiDeVos: Please look last comment from @wqweto.

[2021-05-14 21:44] Neustradamus commented on #14
@RudiDeVos: https://github.com/facebook/zstd/releases

Now it is 1.5.0.

Time to separate libs from main code too.

[2021-05-14 21:46] Neustradamus commented on #12
@RudiDeVos: Please look it?

[2021-05-14 21:46] Neustradamus commented on #11
@RudiDeVos: Please look it?

[2021-05-14 21:47] Neustradamus commented on #9
@RudiDeVos: Please look it?

[2021-05-15 05:51] lwcorp commented on #15
True, but it's quite small and unnoticeable.
Be that as it may, what benefit do you get from keeping an unmaintained code there? I think there should be just 1 code, notice or not. I assume all branches are here.

[2021-05-15 12:36] RudiDeVos commented on #15
SVN code was there as reference, removed and replaced by a git that's in sync with the main github branch

[2021-05-19 20:38] RudiDeVos commented on #14
Lib upgraded to 1.5.0

[2021-05-19 20:42] RudiDeVos commented on #11
You need to set a password.
Ultravnc prevent the server to start and keeps asking for a password.

[2021-05-19 21:12] Neustradamus commented on #14
@RudiDeVos: Thanks!

[2021-05-19 23:04] breisig commented on #14
@RudiDeVos Thanks :-)

[2021-05-20 06:27] badda71 commented on #11
Yeah, but how can I set a password if I cannot even get the server to start?

[2021-05-21 20:56] nathanshearer opened #16 ""Attempted to configure an invalid screen layout" and "Rect too big""
Connections from tigervnc and turbovnc are impossible, always results in screen geometry errors and the connection is terminated.

VNC Server
- Windows 10 Pro
- UltraVNC 1.3.2 x64

VNC Client
- TurboVNC 2.2.6 vncviewer
- TigerVNC 1.110 vncviewer

Note that connections to UltraVNC 1.2.40 server work fine from TurboVNC 2.2.6 vncviewer.

https://github.com/TurboVNC/turbovnc/issues/292
https://github.

[2021-05-21 20:57] nathanshearer commented on #16
Error log from TurboVNC vncviewer:
[code]

[2021-05-23 02:53] nathanshearer commented on #16
This appears to be a problem with UltraVNC where the VNC protocol is violated:

See the comments from the TurboVNC development: https://github.com/TurboVNC/turbovnc/issues/292

[2021-06-02 10:08] nickbe opened #17 "Teamviewer replacement question"
I'm trying to replace teamviewer for a considerable time now. Is there some way to realize the simple connection process with UltraVNC?

[2021-06-02 10:10] nickbe opened #18 "Remote Access to local ports"
Has anyone considered to allow remote access to custom defined local ports instead of only screen control?

[2021-06-09 14:02] liabutt commented on #17
UltraVNC works best in internal networks if you want to connect to a machine that's in the same network.
There are a lot of instructions online on how to set up such a connection and they're quite simple to follow.

But if you want to connect to machines outside of your network (over the Internet) there are other TeamViewer alternatives.
I personally don't use UltraVNC over the internet.

See here

[2021-06-13 09:07] muzzol opened #20 "add integrated tunnel support"
this is a feature request for integrating ssh tunnel directly into ultravnc

I know I can do it with putty/openssh but for my setup it would be a lot easier if it was natively integrated.

thanks for your time

[2021-07-26 06:03] nathanshearer commented on #16
Is this bug getting any attention?

I am now in a situation where I cannot connect to a remote system because it is using an UltraVNC server and all the open source clients are rejecting the connection because the UltraVNC server is using an **invalid screen layout** which violates the VNC protocol.

The exact error output by TigerVNC Viewer is: **Attempted to configure an invalid screen layout**

[2021-08-19 19:34] takuy opened #21 "LibVncClient compataibility"
Hi, I'm just posting this as an issue here to bring awareness, hopefully UltraVNC devs can help here.

We're using Apache Guacamole, which relies on LibVNCClient. We'd like to be able use Apache Guacamole to connect to UltraVNC with MSLogon / Domain authentication. It seems like UltraVNC uses a non-standard identifier for the protocol.

There's been discussion about this on both the Guacamole's en

[2021-08-27 08:43] BartJonckers opened #22 "Accept/Refuse prompt while Windows is locked"
We've been installing UltraVNC as a service with the SecureVNC DSM plugin and MS domain logon - in combination with the Query window that automatically refuses all connections, unless Windows is at the logon screen, so that nobody can accidentally stumble into a user session without their explicit consent
![image](https://user-images.githubusercontent.com/89633608/131098753-09fffe72-265c-4d8f-92f8

[2021-08-30 09:15] Pfannaa opened #23 "Feature Request: Disabling the filetransfer button on viewer side"

[2021-09-11 14:08] Neustradamus commented on #21
@RudiDeVos: Have you seen the @takuy ticket?

[2021-09-11 14:09] Neustradamus commented on #23
@RudiDeVos: Have you seen the @Pfannaa ticket?

[2021-09-11 14:35] Neustradamus commented on #22
@RudiDeVos: Have you seen the @BartJonckers ticket?

[2021-09-12 13:54] RudiDeVos commented on #23
Filetransfer is a server/viewer option.
What's the goal of being able to enable/disable the button as viewer option ?
The viewer is a desktop app, the user always can enable it back.

The server already has the option to disable it.  If you disable it at server site the viewer doesn't have the button and is unable to activate it back.

[2021-09-12 13:58] RudiDeVos commented on #22
Thanks,
I will take a look at it for net update.

[2021-09-12 16:29] Pfannaa commented on #23
In that case we have a rather unconventional reason for this feature request.
We have a server where our external partner companies can connect to, to support some special equipment.
In the end they launch a .vnc directly over a shell to the remote computers where they shouldn't be able to initiate any file transfer, because they could go through the servers local files.

[2021-09-12 18:01] RudiDeVos commented on #23
I"m trying again...
Current implementation already allow to remove the filetransfer from all viewers,  using a server setting.
When the viewer connect to the server he ask if FT is supported and when not the viewer disable it.
![image](https://user-images.githubusercontent.com/71467484/132997163-c217d5a8-675c-4267-9ac0-cea9f7a88e66.png)

All viewer options are users options, if we add disable FT t

[2021-09-12 18:11] Pfannaa commented on #23
I got your point..
We just didn't want to disable FT on 400 different machines.

Does tight or real support the uvnc file format ?
I checked tigervnc and they didn't.

[2021-09-12 18:48] RudiDeVos commented on #23
I don't think they does, FT was independent develop, FT is no part of the rfb protocol.
You need to check it, it's always possible that it's made compatible later on.

[2021-09-12 19:01] Pfannaa commented on #23
alright, thanks a lot.
Closed

[2021-09-12 19:01] #23 closed

[2021-09-12 20:51] #14 closed

[2021-09-12 20:51] #15 closed

[2021-09-21 18:41] ajschorr opened #24 "tigervnc viewer running against UltraVNC server has an invisible cursor"
Hi,

There seems to be a buggy interaction between the Linux tigervnc viewer and UltraVNC server running on Windows 10 that results in an invisible cursor. The problem started with this tigervnc patch in December, 2019:

https://github.com/TigerVNC/tigervnc/commit/2cd3cb48164f105a1c066102c8430317d94bb9f0

I opened a TigerVNC bug about this here:

https://github.com/TigerVNC/tigervnc/issues/1335

H

[2021-09-22 00:57] Neustradamus opened #25 "Proposed patch by Peter2121 published on the forum in 2020"
@RudiDeVos: Can you look the Peter2121 patch published on the forum?
- https://forum.ultravnc.net/viewtopic.php?f=5&t=36346

"Hello,
Playing with winvnc.exe, I noticed that in case of starting winvnc.exe with -install argument (to install the service) it ignores -inifile argument, so it is impossible to install the service with a custom path of ini file. Hopefully, the fix is trivial, so I propose

[2021-09-22 19:11] RudiDeVos commented on #22
added

[2021-09-22 19:19] #22 closed

[2021-09-22 19:25] RudiDeVos commented on #25
done

[2021-09-22 19:25] #25 closed

[2021-09-23 00:50] Neustradamus commented on #22
Merged commit is:
- https://github.com/ultravnc/UltraVNC/commit/a764c026cae6e4f917403259ceeb3356f1f4f5a5

[2021-09-23 00:50] Neustradamus commented on #25
Merged commit is:
- https://github.com/ultravnc/UltraVNC/commit/7060d3f22fd2276e18655bbfe20bedfe2ed8580c

[2021-09-24 03:38] Neustradamus commented on #13
@RudiDeVos: Please look last comment from @wqweto.

[2021-09-24 03:39] Neustradamus commented on #12
@RudiDeVos: Please look it?

[2021-09-24 03:40] Neustradamus commented on #9
@RudiDeVos: Please look last comment from @Sorien.

[2021-09-24 03:46] Neustradamus commented on #16
@RudiDeVos: Please look it?

[2021-09-27 07:35] CendioOssman commented on #24
The issue is that if the client doesn't get a local cursor from the server then it has to assume it is an older type server that will render the cursor itself (e.g. those built in to some KVMs). Otherwise we'd end up with two cursors for the user (and the local would often be incorrect as well).

Hence it is crucial that UltraVNC sends the current cursor right away if it doesn't intend to render t

[2021-09-29 12:25] Neustradamus commented on #25
@RudiDeVos: Do not forget to reply here:
- https://forum.ultravnc.net/viewtopic.php?f=5&t=36346

[2021-10-03 23:29] JB-DX opened #26 "server cursor is not shown at noVNC client"
I'm using noVNC v1.3.0 beta along with UltraVNC 1.3.4.1

The server cursor  isn't shown in noVNC.

With UltraVNC-viewer it can be turned on by checking:
"Track remote cursor locally"

So it has to be done on the viewer side.
The noVNC author claims that it is a bug in unvnc, not sure if that is true.
see: https://github.com/novnc/noVNC/issues/1581

Is there a solution available?
If not, can the se

[2021-10-05 07:06] rajmondburgaj opened #27 "Homepage showing a fishy pop up"
What does this pop up mean when I open the site ?

![image](https://user-images.githubusercontent.com/7545874/135976102-2beeaa5d-f14f-411f-ab47-176f7e385824.png)

[2021-10-10 00:36] esrat opened #28 "Bug in VNCViewer: Saving settings"
Hi,
I just want to mention that the vncviewer.exe (on the most current version 1.3.4.2) seems to use two different formats for saving the settings!

Steps to reproduce:
1. Start a freshly unpacked vncviewer.exe and configure it. In my example a used the listening mode and therefore did not need any server address.
2. Before hitting [Start Listening] I used [Save as] to save my settings.
3. I just

[2021-10-30 22:44] jpmorrison opened #29 "Connecting to Gnome remote desktop gets wrong desktop geometry"
UltraVNC 1.3,4,2 (Windows 10)

Connecting to Fedora 34 - Gnome remote desktop VNC enabled in settings gets the wrong desktop size so the display is cut off.  Workaround is to set to half-size in UltraVNC or change the display in Fedora. It's using 800x600 when the real display is 1366x768

![image](https://user-images.githubusercontent.com/1448696/139559861-d248bb32-1b91-4a4b-a2ae-597c38337cef.png

[2021-11-01 12:46] RudiDeVos commented on #24
Did a little research:
Seems TigerVNC send the pseudoEncoding before the actual encoding causing UltraVNC to ignore it.
Changed our code so that it's cached.
UltraVNC now end proper the cursor shapes.

TigerVNC support rfbEncodingXCursor/rfbEncodingRichCursor but not rfbEncodingPointerPos
The server can send the shapes, but can't send a position change, if the cursor moves on the server it isn't v

[2021-11-01 13:34] CendioOssman commented on #24
I don't think PointerPos is well supported (and it is also an extension, not a base feature). I would recommend rendering the cursor on the framebuffer for those clients. This is what the old, original code base from RealVNC did so it's somewhat the base behaviour.

[2021-11-01 14:15] RudiDeVos commented on #24
Rendering the cursor on the framebuffer is the default behaviour when rfbEncodingXCursor/rfbEncodingRichCursor is not supported.  Then for the TigerVNC client i just ignore fbEncodingXCursor/rfbEncodingRichCursor support.

[2021-11-02 18:54] #24 closed

[2021-11-02 18:59] ajschorr commented on #24
Thanks for researching this. I'm not sure I follow the discussion though. Has a patch to fix this been committed to UltraVNC? I don't see any recent commits. Sorry for my ignorance; I don't really understand the issues here, but I would like tigervnc viewer to work with UltraVNC server.

[2021-11-02 19:09] RudiDeVos commented on #24
Yes, UltraVNC server is patches.
The UltraVNC pathed server  exe is available for download to do a fast test.
https://www.uvnc.eu/download/1342/winvnc_TigerCursorTest2.zip.

Just updated git (development branch)

[2021-11-02 19:49] ajschorr commented on #24
Now I see it. Thank you.

[2021-11-02 19:53] Neustradamus commented on #29
@RudiDeVos: Please read here.

[2021-11-02 21:02] RudiDeVos commented on #26
This is also fixed with the latest patch for TigerVNC.
test version
https://www.uvnc.eu/download/1342/winvnc_TigerCursorTest2.zip.

[2021-11-02 21:02] #26 closed

[2021-11-04 21:15] RudiDeVos commented on #29
Does someone know were a virtual image of Fedora with remote desktop can be downloaded ?
Always spending a lot of time on installing and configuring OS's before i even can start testing...

[2021-11-23 09:51] martin1563 opened #30 "Unattended Installation does not create start menu entries"
Environment:
- UltraVNC: 1.3.4.2, 64bit
- Operating system: Windows 10, 64bit, Version 21H2, Build 19044.1348)

I have created with the parameter "/SAVEINF" the following INF installation file:

[code]

If I install the application with the following parameters the installation itself is successful but no start menu entry was created:
`UltraVNC_1_3_42_X64_Setup.exe /verysilent /norestart /restarta

[2021-11-24 14:32] Tythesly opened #31 "Feature Request - Add Informational Border when connected to a computer"
I would like to suggest adding the option to setup a colored border that goes along the edges of the screen when you are connected to a computer. If we could add customizable text to it as well would be great. As of right now we use this for remote support for our employees and when we connect to their computers a couple of... Technically challenged... People have freaked out thinking they have be

[2021-11-24 23:39] Neustradamus commented on #30
@RudiDeVos: Please read here.

[2021-11-24 23:39] Neustradamus commented on #31
@RudiDeVos: Please read here.

[2021-11-27 13:18] RudiDeVos commented on #30
Add desktopicons, it also create the startmenu
Tasks=installservice,startservice,desktopicon,associate,installdriver
onno file attached

[UltraVnc_installer_all_X64.txt](https://github.com/ultravnc/UltraVNC/files/7611760/UltraVnc_installer_all_X64.txt)

[2021-11-27 13:19] #30 closed

[2021-11-29 06:52] martin1563 commented on #30
Thank you very much for the hint.

Is it possible to separate the creation of desktop and start menu shortcuts?

As far as I know in a previous version was this separated (with unattended installation).

In the normal installation it is now also separated:
![startmenu_shortcuts](https://user-images.githubusercontent.com/94899084/143821313-49103227-ac41-4588-af82-3fc6e3bc1bfb.png)
![desktop_shortcu

[2021-11-30 14:58] Tey opened #32 "Typo in server without authentication message"
![image](https://user-images.githubusercontent.com/646444/144070663-889fb317-40e5-461b-913f-a9695398f6e4.png)

This should be "trust", not "thrust".

[2021-12-02 21:51] RudiDeVos commented on #31
Implemented in dev edition
https://forum.uvnc.com/viewtopic.php?p=110296#p110296

[2021-12-02 21:54] RudiDeVos commented on #32
Thanks, fixed in dev

[2021-12-02 21:54] #32 closed

[2021-12-03 14:09] Tythesly commented on #31
Awesome! Can't wait till its in the stable release :D

[2021-12-07 00:16] Neustradamus commented on #16
@nathanshearer: Can you test a more recent build and do a feedback?

[2021-12-09 21:31] #31 closed

[2021-12-21 18:37] Tythesly opened #33 "Feature Request - Ability to Add Text to Sharing Border"
Hey Thanks so much for adding the colored frame option for when youre connected to a computer. I would like to ask though if possible  to add the ability to add your own text to it? We would use something like "IT is currently working on this computer". The users don't know what the border actually means. And when we are working on Public computers it would be cool to have that so people actually

[2021-12-26 11:08] RudiDeVos commented on #33
Current this can be done with a Notification ( systray) and it popup for a few seconds on connection.
Your re quest is to add the same text as OSD, like the border, only visible on the server pc.

This should be that hard of we reuse the same text from the Notify.
On the Todo

[2021-12-26 22:14] Tythesly commented on #33
Yeah that would be perfect! That way it is a constant type of notification in case there is no user at the computer at the time :)

[2021-12-31 17:29] bernhardu commented on #7
Hello @RudiDeVos, I tried to look into this [wine issue](https://bugs.winehq.org/show_bug.cgi?id=52296),
but as the official packages seem not to contain debug information
and even if they would, it would not be compatible with gdb I guess,
I tried to build vncviewer with mingw.
This effort is in this [branch](https://github.com/bernhardu/UltraVNC/commits/mingw).
Maybe you see something you consid

[2022-01-01 00:36] temannin opened #34 "https://uvnc.com/ reporting NET::ERR_CERT_DATE_INVALID"
With the new year, the certificate for http://uvnc.com has expired.

![image](https://user-images.githubusercontent.com/24688933/147841680-c7293052-98a6-4973-b947-bf41d47c2c45.png)

[2022-01-01 17:03] RudiDeVos commented on #7
Just tested  with Visual Studio and it compiles.
Only keymap.h had some issue's ( unicode char warnings)
Solution was to copy changes in the existing keymap.h, looks like the way the file is saved make VS not happy.

I don't see any code changes that could cause the not connect issue, is the mingw exe working ?
If that's the case, rebuilding the vncviewer with the toolset and SDK used in 1.3.2 wou

[2022-01-01 17:19] temannin commented on #34
This seems to have been resolved. Closing.

[2022-01-01 17:19] #34 closed

[2022-01-02 00:23] Neustradamus commented on #34
@temannin: Thanks for your report, @RudiDeVos has solved it.

And Happy New Year ^^

[2022-01-02 16:39] bernhardu commented on #7
I just mentioned this to give a reason why I was trying to build with mingw. And there is no change included that tries to change UltraVNC, because it runs at Windows, so normally this means Wine has to be fixed. If there would be a such a change I assume this should go in its own issue or pull request, as this issue here is about building the executables?

I have looked a little further in buildi

[2022-01-05 00:17] juanpc2018 commented on #29
In Kubuntu / Ubuntu / pearOS any KDE environment,
the best are KRFB "Server" & KRDC "Viewer"

x11vnc has geometry problems..

[2022-01-05 00:34] juanpc2018 opened #36 "Settings more similar to MP4 h264 encoding..."
All VNC have weird settings,
seems VNC is Not as optimized as RDP.
RDP video is more fluid, playing a YouTube video FullHD FullScreen..
problem with Apple Remote Desktop is that is a closed environment, Not compatible with Linux or Windows RDP.
Apple also has standard VNC support.
Microsoft has an Apple to Windows RDP App for OSX.

For example:
1x PC has 2 Networks
100Mbps for Internet.
1GbE for V

[2022-01-11 20:50] Neustradamus commented on #7
@bernhardu: Thanks for PR :)
It is better now?

[2022-01-16 13:01] bernhardu commented on #7
@RudiDeVos : Thanks for merging the first part.

@Neustradamus : It's better, but these first changes were just the simple ones, there are more [here](https://github.com/bernhardu/UltraVNC/commits/mingw) (the least questionable ones committed first), for which I want to send in separate PRs. Any favourites to work on next? I guess I should install somewhere a VC19 community edition to avoid breaki

[2022-01-21 18:08] juanpc2018 opened #37 "Auto Hide Taskbar Error / Server Screen Scale by: 1/Error"
Hi,

i have noticed a Bug in UltraVNC Viewer...

Connection Options...
Display

Display has 3 modes...
Scale to Window = Not Fixed Ratio, can squash or strech the images. = weird / useless.
Full Screen Mode = useful, but sometimes i need to do something else in the other machine,
Not the most desired option, but works ok always.

Viewer Size: Autp [X] Even [_]  90%
most usefull window mode
but...

[2022-01-22 17:20] user8446 opened #38 "Donation link and email on website broken"
Hello,

In trying to donate to the project, I found the link on the [website](https://uvnc.com/) homepage just links back to the homepage. I then sent an email listed on the homepage ( uvnc@skynet.be ) regarding this and the email bounced back.
The undeliverable message says info@uvnc.com doesn't exist so apparently uvnc@skynet.be just forwarded to info@uvnc.com.

Whoever handles the website, plea

[2022-01-23 15:21] user8446 commented on #18
Wouldn't SSH be better for that?

[2022-01-23 15:26] user8446 commented on #17
Once everything is setup and info saved in your VNC Client, it's doesn't matter if it's lan or wan.

I do recommend encryption though. I'm using SSH with no issues but you could also use the built-in methods.

[2022-02-08 23:35] user8446 commented on #20
In the meantime I'm using OpenSSH server with [AVNC](https://f-droid.org/en/packages/com.gaurav.avnc/) client on Android which has built-in SSH tunneling and it works like a charm.

[2022-02-10 16:02] LamerDrv opened #39 "Can reverse connection survive logoff?"
Hi!
I can create reverse connection. But connection drop when I do logoff on comp with vncserver.
Can vncserver in service mode keeps reverse connection during logoff ?
In "UltraVLC Server Property Page" window I see "Reverse connection" section. But what options I must set for service keeps reverse connect (or make reverse reconnect) on windows logon screen?

[2022-02-11 18:22] casperklein opened #40 "Accept server without authentification"
Hello,

I've updated to the latest vncviewer.exe. Now I get this warning, when connecting to my (passwordless) VNC server:

![message](https://user-images.githubusercontent.com/646444/144070663-889fb317-40e5-461b-913f-a9695398f6e4.png)

Is there a CLI switch or something to suppress this warning?

[2022-02-23 06:11] Neustradamus commented on #40
@RudiDeVos: Can you look this ticket?

[2022-02-23 06:12] Neustradamus commented on #39
@RudiDeVos: Can you look this ticket?

[2022-02-23 06:13] Neustradamus commented on #7
@RudiDeVos: Can you look here?

[2022-03-05 12:36] RudiDeVos commented on #40
Can be disabled in 1.3.8.0.
see https://uvnc.com/downloads/ultravnc/149-ultravnc-1-3-8-0.html

[2022-03-05 12:36] #40 closed

[2022-03-05 12:40] RudiDeVos commented on #39
Yes
You need to run as service and use the service_commandline
![image](https://user-images.githubusercontent.com/71467484/156883355-dd565a55-dcb8-47ca-beb4-ed6c44af6d1e.png)
-autoreconnect -connect your_ip_address_of the viewer

Then on each disconnect, the server initiate a new connection.

[2022-03-05 12:40] #39 closed

[2022-03-05 12:41] RudiDeVos commented on #33
Added in 1.3.8.0
https://uvnc.com/downloads/ultravnc/149-ultravnc-1-3-8-0.html

[2022-03-05 12:41] #33 closed

[2022-03-05 12:42] RudiDeVos commented on #29
Fixed in 1.3.8.0
https://uvnc.com/downloads/ultravnc/149-ultravnc-1-3-8-0.html

[2022-03-05 12:42] #29 closed

[2022-03-05 12:45] casperklein commented on #40
Thank you for implementing this. There is no CLI option for that, or do I miss something?

[2022-03-06 05:27] bowtiejicode opened #41 "Vulnerability Disclosure"
Hi @RudiDeVos

Tried to contact the email on the homepage to disclose a privilege escalation vulnerability but the email was not sent successfully. May I know how I can contact you privately to disclose this vulnerability?

Thanks,
Regards
Jq

[2022-03-06 05:54] Neustradamus commented on #16
@nathanshearer: Can you test a more recent build and do a feedback?

[2022-03-06 12:42] RudiDeVos commented on #40
commandline AllowUntrustedServers

[2022-03-06 12:50] RudiDeVos commented on #41
Please use  ( rudi . de . vos @ skynet . be )  without spaces

The mail address on the home page is spammed as soon as you put it online, having 1000 spamm messages for 1 real was unworkable.

[2022-03-06 12:59] bowtiejicode commented on #41
Hi, you may now remove this email to prevent being spammed.

[2022-03-06 13:02] RudiDeVos commented on #7
Thanks,

The 1.3.8 release was needed before looking at the seconds part.
Now that the development is merged i will add the other parts and run some tests.
Let's hope there are not to many conflicts with the new codes.

[2022-03-06 13:06] RudiDeVos commented on #38
Donation fixed.
Mail addresses get spammed in months and are no longer workable,  the fastest way is to use the forum.

[2022-03-06 13:22] RudiDeVos commented on #36
VNC is used for 54k connections to fast 10 gb LAN.
This makes it very hard to find the correct parameters that works in all cases.

VNC has direct memory access
- <=win7  using the mirror driver
- win10 using the ddengine
In both cases, we have access and now what changed

There is no direct memory access on win8, MS didn't provided the functions to be able todo it.
You need to copy the ramebuffer

[2022-03-06 14:02] bernhardu commented on #7
Hello, sorry for my late response.
I have rebased my [branch](https://github.com/bernhardu/UltraVNC/commits/mingw) on top of 1.3.8 and made sure it compiles again (did not test the resulting executables).
(Mostly just added LayeredWindows.cpp. Is black_layered.cpp supposed to stay as empty file in the repository?)
As said before, these patches are not intended for inclusion right away, especially

[2022-03-06 14:28] RudiDeVos commented on #7
black_layered.cpp i guess i only removed it from the project, but forgot git.

[2022-03-06 14:32] user8446 commented on #38
Thank you

[2022-03-06 14:32] #38 closed

[2022-03-07 02:24] Neustradamus commented on #26
@JB-DX: It is good for you?
You have not replied, please confirm.

[2022-03-07 19:43] JB-DX commented on #26
Thanks for reminding. I did not fully understand the reply mentioning TigerVNC, so did nothing. Now I see that that the server was updated, and just tried it. And it does work well now.
Thanks very much.

[2022-03-15 21:44] #36 closed

[2022-03-15 21:45] #27 closed

[2022-04-01 13:26] Delurkdotcom opened #42 "Repeater crash"
Hello,

I use the repeater like a proxy and there is an issue. Sometines it crash but I dont know why. Here the Windows events.

![Capture d’écran 2022-04-01 150831](https://user-images.githubusercontent.com/27222854/161272571-60df3736-a410-42e6-a61f-48b690ed3f4e.png)
![Capture d’écran 2022-04-01 150904](https://user-images.githubusercontent.com/27222854/161272691-8fce88f2-e19c-4dcb-8c48-8d5b5ae55

[2022-04-01 14:18] LevonX opened #43 "When pressing the keys Ctrl, Shift and etc on the server side is constantly pressed and released."
I use a certain program in RHEL 7 and RHEL 8 under wine and noticed such a feature that when holding down the ctrl key in RHEL 8 sometimes it is not processed (for example, open a new tab (Ctrl + mouse click)).

Did a little research and found that the issue occurs starting with tigervnc-server 1.9.0, possibly due to "Alternative, "raw" keyboard mode in the native client and all servers" (https://

[2022-04-13 08:00] LevonX commented on #43
I also noticed that if the client is running in debug mode and the Japanese keyboard is enabled, the log is interrupted by the following message:

`rdr::Exception (1): rdr::SystemException: read: Unknown error (10004)
`

Here is the full log:

[code]

[2022-04-25 12:49] panreyes opened #44 "When using -autoreconnect in winvnc.exe, the listening viewer will ask for a password"
Hello!

With current UltraVNC Server, running as elevated application or service, if I use the -autoreconnect parameter, the listening viewer asks for a password (which is already in the INI file).
- This works: -connect xx.xx.xx.xx:5500
- This does not work: -autoreconnect -connect xx.xx.xx.xx:5500

This is what is different in the log when using autoreconnect:
`Entered InitAuthenticate
winvnc\vn

[2022-04-25 13:49] Delurkdotcom commented on #42
Program crashes regularly
![Capture d’écran 2022-04-12 105514](https://user-images.githubusercontent.com/27222854/165102436-9d8bb778-6ce6-4cc2-88d2-81279041a6b6.png)
![Capture d’écran 2022-04-12 105547](https://user-images.githubusercontent.com/27222854/165102450-7449171c-81cb-4cf6-9943-6ac34ff61425.png)

[2022-04-26 13:14] paulkudla opened #45 "VNC 1.3.8.1 Breaks when repeater connection or network is interupted ?"
Update 👍

ok it seems rogers (canada) is converting ignite users to ipv6 in the background

these issues only occur when connecting to a server using ipv4 via a rogers ignite modem via ipv6 upstream.

please note business users seem uneffected that run a static ip

it seems the ipv6 connection is being reset in the background via the device being connected in the forground.

when a new ipv6 device

[2022-04-27 11:16] ghnand opened #46 "When issuing ALT + Tab in on client, tab gets stuck indefinitely unless interrupted with ALT or Tab key again"
I have tested this with several hosts (windows 10) and clients (Windows 10, Mac OSX, Linux), as well as different physical keyboards, however the issue persists across all variations.

How reproducible:
enable scroll lock.
Launch ultravnc viewer and connect to client
Press ALT + Tab and release both. As you would when switching between windows normally.

The client behaves as if tab is held down a

[2022-04-30 22:34] Neustradamus commented on #43
@RudiDeVos: Have you seen this issue?

[2022-04-30 22:36] Neustradamus commented on #42
@RudiDeVos: Have you seen this issue?

[2022-04-30 22:38] Neustradamus commented on #44
@RudiDeVos: Have you seen this issue?

[2022-05-23 01:35] introspection3 opened #47 "windows bug"
windows 10
visusal studio 2022

MSB8066	“simd\x86_64\jccolor-avx2.asm;simd\x86_64\jccolor-sse2.asm;simd\x86_64\jcgray-avx2.asm;simd\x86_64\jcgray-sse2.asm;simd\x86_64\jchuff-sse2.asm;simd\x86_64\jcphuff-sse2.asm;simd\x86_64\jcsample-avx2.asm;simd\x86_64\jcsample-sse2.asm;simd\x86_64\jdcolor-avx2.asm;simd\x86_64\jdcolor-sse2.asm;simd\x86_64\jdmerge-avx2.asm;simd\x86_64\jdmerge-sse2.asm;simd\x86_64\

[2022-05-27 09:28] StefanKoell opened #48 "Scale to window improvement and CLI option"
Hi!

in the configuration dialog there's a checkbox "Scale to window":
![image](https://user-images.githubusercontent.com/6168777/170671616-588f31e6-4cdf-406b-97bb-ad6139266861.png)

I was wondering if there's a CLI option to enable this when starting vncviewer.exe and if not, if this can be implemented.

Also, it would be helpful if this option would preserve the aspect ratio of the screen.

A li

[2022-05-28 04:18] introspection3 opened #49 "not support visual studio libjpeg-turbo-win"
not support visual studio  libjpeg-turbo-win

[2022-06-05 07:45] introspection3 commented on #49
error	MSB8066	“simd\i386\jccolor-avx2.asm;simd\i386\jccolor-mmx.asm;simd\i386\jccolor-sse2.asm;simd\i386\jcgray-avx2.asm;simd\i386\jcgray-mmx.asm;simd\i386\jcgray-sse2.asm;simd\i386\jchuff-sse2.asm;simd\i386\jcphuff-sse2.asm;simd\i386\jcsample-avx2.asm;simd\i386\jcsample-mmx.asm;simd\i386\jcsample-sse2.asm;simd\i386\jdcolor-avx2.asm;simd\i386\jdcolor-mmx.asm;simd\i386\jdcolor-sse2.asm;simd\i386\jd

[2022-06-07 12:13] Tki2000 commented on #48
/autoscaling

You should also read the command line parameters page at:
https://uvnc.com/docs/uvnc-viewer/52-ultravnc-viewer-commandline-parameters.html

[2022-06-07 12:55] StefanKoell commented on #48
Hi @Tki2000

I tried that before I posted here. The /autoscaling switch does not have the same effect as checking "Scale to window". When I open the connection settings, I get this:
![CleanShot 2022-06-07 at 14 53 36@2x](https://user-images.githubusercontent.com/6168777/172384647-c7fa1f29-0ab8-46c5-aee1-49c41ca2f6a0.png)

[2022-06-29 18:04] RudiDeVos commented on #49
We use nasm
https://www.nasm.us/
After installing make sure nasm is in your path

[2022-06-29 18:11] RudiDeVos commented on #47
This require the "Microsoft Visual Studio Installer Projects" (free) addon.  It's used to create msi installers

[2022-07-01 06:30] StefanKoell commented on #48
@DaSigma I tried that but the results are not what I want/need. First issue is that the scaling is fixed to 100% and the second issue is that at the top of the screen the fullscreen toolbar slides in.

It seems that it's currently impossible to specify the desired setting through command line args or vnc configuration file. I'm wondering if someone could make this happen in a future version. This

[2022-07-15 22:52] mgpetrel opened #50 "Possible Security hole in UltraVNC server"
I have UltraVNC server installed in Windows 10 machines.
Once every 2 months or so the machines receive some kind of external attack which results in the incoming connection window (Accept/Reject) popping out in the PC under attack.

![Incomming2](https://user-images.githubusercontent.com/89139598/179313153-0bc5a75a-91e6-40dd-bc24-d3990f92eea3.jpg)

I'm using the encryption plugin, and --so far--

[2022-07-19 08:16] SymmediaMachineUser opened #51 "Option "auto select best settings" not selected by default"
In the earlier versions of UltraVNC (1.2.x), when starting VNC Viewer, the option "auto select best settings" is always selected.
In version 1.3.x and higher, this option "auto select best settings" is no longer selected when starting the VNC Viewer.
How can I make sure that this option is checked again when starting VNC Viewer?

![grafik](https://user-images.githubusercontent.com/104999628/179701

[2022-07-31 13:24] Neustradamus commented on #51
@RudiDeVos: Can you look?

[2022-07-31 13:25] Neustradamus commented on #50
@RudiDeVos: Can you look?

[2022-07-31 14:02] Neustradamus commented on #48
@RudiDeVos: Can you look?

[2022-07-31 16:02] Neustradamus commented on #47
@introspection3: It has been solved?

[2022-07-31 16:03] Neustradamus commented on #49
@introspection3: It has been solved?

[2022-07-31 16:04] Neustradamus commented on #45
@RudiDeVos: Can you look?

[2022-07-31 16:04] Neustradamus commented on #44
@RudiDeVos: Can you look?

[2022-07-31 16:04] Neustradamus commented on #42
@RudiDeVos: Can you look?

[2022-07-31 16:05] Neustradamus commented on #43
@RudiDeVos: Can you look?

[2022-07-31 16:05] Neustradamus commented on #46
@RudiDeVos: Can you look?

[2022-07-31 16:06] Neustradamus commented on #7
@bernhardu: All your improvements have been added in master code?

[2022-07-31 16:07] Neustradamus commented on #16
@nathanshearer: Can you test a more recent build and do a feedback?

[2022-07-31 16:09] Neustradamus commented on #37
@RudiDeVos: Can you look?

[2022-07-31 16:11] Neustradamus commented on #12
@RudiDeVos: Can you look?

[2022-07-31 16:11] Neustradamus commented on #13
@RudiDeVos: Can you look?

[2022-07-31 18:59] RudiDeVos commented on #50
What you see is the blacklisting mechanism.

If the same ip adress is refused multiple times, it's blacklisted.
A blacklisten ip address need to wait x minutes multiplied by the number of wrong connections.

In that case no accept/reject is shown because the ip  never get to that part.
The first check is the blacklist.

[2022-08-01 10:42] 0xoffsec opened #52 "MSI installer parameters"
Hey all,

I have been trying to find the params for the MSI installer, but no success. So far only the EXE ones can be found and are working.
I also tried using the params in the PROPERTY table of the MSI package, but they do not work as well.
Does anyone know the solution/params?

Thank you :)

PS: I posted in the forum but my post has not been approved yet, hence why I opened this issue.

[2022-08-01 15:10] mgpetrel commented on #50
Thanks for looking into this!

But **I do see** the accept/reject window of each "invalid attempt" shown in the _mslogon.log_. In fact, the annoyance of the accept/reject window reappearance lead me to look into the mslogon file.

[2022-08-01 16:00] RudiDeVos commented on #50
The steps are
1) Blacklist
2) Accept/Reject
3) Authentication

1) Blacklist:  hacker get refused, please try again later.
2) Unless you accept, a hacker can't check if he enter the correct password.  He get back connection was refused.
3) return wrong password

Normal you get 3 accept/rejects then the blacklist mechanism add timeouts.
Yes you will see some accept/reject boxes.

[2022-08-03 10:27] mgpetrel commented on #50
Sorry to insist, but how can 1.Blacklist come before 3.Authentication? On which base is hacker blacklisted then?
Besides, when trying to reproduce this, I'm not able to trigger the Accept/Reject window unless I enter the right password/have right encryption key (using viewer.exe).

[2022-08-03 17:54] RudiDeVos commented on #50
viewer connect
1° add ip to blacklist  ( all connections are added to the blacklist)
2° If ip in blacklist and timout is not passed -> refuse
3° Check the rfb protocol
3.7<= Ask_Permission-> activate encryption -> verify passwd  -> succeess -> remove ip from blackist ( old protocol http://www.uvnc.eu/download/102/)
3.8 ->activate encryption ->ask permission->check passwd -> succeess -> remove ip f

[2022-08-03 18:09] Neustradamus commented on #52
@RudiDeVos: Can you look?

[2022-08-04 00:05] WalterYongtaoWang opened #53 "None Authentication doesn't follow 3.8 protocol"
When auth is None and version is 3.8, it should have the SecurityResult message:

https://vncdotool.readthedocs.io/en/0.8.0/rfbproto.html#none

[2022-08-11 02:41] Neustradamus commented on #53
@RudiDeVos: Can you look?

[2022-08-11 18:29] RudiDeVos commented on #53
Need more info
you test between what flavors ?

[2022-08-25 18:23] bernhardu commented on #7
Hello @Neustradamus, [those changes in my branch](https://github.com/bernhardu/UltraVNC/commits/mingw) are most useful if someone wants to use a non MSVC-compiler. But they got not added to master code. Some changes are not suitable for inclusion, but they might be suitable as a start for discussion.
Nevertheless I have rebased my branch on top of the current development branch.
If you want to hav

[2022-08-25 18:59] RudiDeVos commented on #7
Header removed, wasn't used.

[2022-08-25 20:58] Neustradamus commented on #7
@bernhardu: Nice to see your branch!

@RudiDeVos: What do you think?

[2022-08-31 19:21] joksik opened #54 "Query on incoming connection"
the ip address appears during an incoming connection it's good for security but can you also add the option to display also the computer name in addition to the ip address?.
the point is that the ip address does not say much to the user, but our computers have surnames as their names, so users could know who is trying to establish a connection if also computer hostname will be displayed.

[2022-09-01 18:03] JLRCDSB opened #55 "Accept/Refuse prompt while Windows is Locked - Revisited"
I would like to reopen issue #22 as I have discovered that the prompt still does not fully work as expected.  Here are the steps required to duplicate the issue:

          Circumstance : Expected behaviour -> Actual behaviour
- No user logged on : no query -> works as expected
- User1 logged on with active session : query with auto-reject -> works as expected
- User1 logged on but session locked

[2022-09-07 23:12] WalterYongtaoWang commented on #53
This is based on UltraVNC 1.3.8.1. Also tested on an old version at first.

Please be aware, both the UltraVNC client and server don't handle this correctly.

[2022-09-11 20:57] RudiDeVos commented on #7
This isn't working in all cases
#define strncat_s(dest, source, len) strncat_s(dest, sizeof(dest), source, len)

strncat_s(buffer, /*buflen,*/ digtxt, (buflen - 1) - strlen(buffer));
fail as sizeof(buffer) = 1

[2022-09-12 09:59] bernhardu commented on #7
Thats one of the todo patches, where I am not certain and did add it just to get compile for now.
I had another look and found that Microsoft has a template `strncat_s` that takes just three parameters.
Unfortunately the mingw headers do not contain that template as far as I see.
I guess I still should install some VisualStudio to check if those patches compile there too.

[2022-09-12 15:36] mbey-mw opened #56 "multimonitor server configuration and client supporting ExtendedDesktopSize pseudo-encoding"
Connections from TigerVNC and own client result in 'half' empty screen for multimonitor server configuration.

VNC Server

Windows 10 Pro
UltraVNC 1.3.8.1 x64
Screen 1: 1920x1080 @ 0,0
Screen 2: 1280x720 @ 1920,0

VNC Client

TigerVNC 1.12.0 vncviewer
own special purpose VNC client

When connecting to the UltraVNC server, the following messages are sent:

- framebuffer size of 1920x1080 in initial

[2022-09-12 17:30] RudiDeVos commented on #7
It actual compile, it's during runtime i  got this error.

Your patches were added to development ( still in a local branch ) , and current i'm just testing if all still works.
Then they can be added to the sourcetree.
Current mapping out strncat_s changes for Visual studio builds

[2022-09-12 19:14] RudiDeVos commented on #7
All Todo's where not included, still require work.
I also needed to revert the min max patch

The windows.h header (or more correctly, windef.h already include min and max.
This conflict with std::min std::max
Viewer fails to build

[2022-09-12 20:57] RudiDeVos commented on #54
accepted as feature request

[2022-09-13 07:48] bernhardu commented on #7
To avoid the definition of min/max by windef.h it is possible to define `NOMINMAX` before including windows.h.
The other way around might be to avoid some `using std` and add explicit namespaces where needed.
Which way looks more promising to you?

[2022-09-13 09:36] mbey-mw opened #57 "odd responses to FramebufferUpdateRequest"
The following behaviour was observed when communicating with an UltraVNC server 1.3.8.1 x64 on a Windows 10 Pro.

I'm developing a very slim and specialized VNC client, which does not process video data. Still I want to receive DesktopSize changes. As a result the client requests framebuffer updates with an empty area, which should result in only pseudo-encoded rectangles (see [rfbproto 7.4.3](htt

[2022-09-13 18:21] RudiDeVos commented on #7
NOMINMAX wasn't working. Still got std::min errors
Possible solution is to
#ifdef MING
#define minimize  std:min
#else
#define minimize  min
#endif
and replace the min by minimize

[2022-09-13 19:39] RudiDeVos commented on #7
development branch updated  without minmax and todo

[2022-09-14 11:07] joksik commented on #54
Thank you. If there is such a need, I can test this functionality after introducing it in the dev channel

[2022-09-14 23:35] bernhardu commented on #7
Thanks for taking your time to look at those changes.

It took me some time to setup a VS community edition. Unfortunately it is a 2022, but I guess using following at the VS command prompt should be equal (when adding the v141 packages to the VS installation.)
[code]

One issue I got in the viewer, which is caused by the `Mingw has not yet natupnp.h, disable functionality.` patch, is `uvnc_settin

[2022-09-15 18:43] RudiDeVos commented on #57
This is indeed how it's implemented.
 if (update_rgn.is_empty()) return false; //disconnect the viewer

You can change the behaviour if you change the code like this.

   if (!fur.incremental) {
        if (m_use_ExtDesktopSize && m_firstExtDesktop) {
            m_NewSWUpdateWaiting = true;
        }
        -update.tl.x = (m_ScaledScreen.tl.x + monitor_Offsetx) * m_nScale;
        -update.tl.y =

[2022-09-15 18:46] RudiDeVos commented on #55
accepted

[2022-09-15 18:48] RudiDeVos commented on #56
This is a complex one, my linux debug options are limited and we also need to stay compatible with older ultravnc versions.
Will add it to the dodo list

[2022-09-16 07:28] mbey-mw commented on #56
It is indeed but the UltraVNC client shows the problem when switching desktop size from Windows as well.

As long as the following
[code]
is set in the ini file, the server works as other VNC servers and all is nice and consistent. But any UltraVNC client can change the server behaviour. Is there a possibility to lock this setting on the server side?

[2022-09-16 16:43] ksweidmann opened #58 "vncviewer crash"
Hello. When i connnect to qemu vnc server,  and wait OS boot i get viewer crash, window simple close.
https://youtu.be/Gw11Vtbh03o

Also windows event log have records:
P1: vncviewer.exe
P2: 1.3.8.1
P3: 622522b0
P4: vncviewer.exe
P5: 1.3.8.1
P6: 622522b0
P7: c0000005
P8: 00000000001e65a8
P9:
P10:

Application log:
Started and Winsock (v 2) initialised
bufsize expanded to 4352
Registered connection

[2022-09-16 16:59] ksweidmann commented on #58
Also i check x86 version - all ok, application not crashed.
Problem only with x64 version.

[2022-09-22 15:23] coalrock8642 opened #59 "Need some kind of scrollbar, EVERYWHERE."
![image](https://user-images.githubusercontent.com/88789897/191787212-cbaaa82e-494a-4a6a-9fef-99f33f3f5df1.png)

You may point that is cropped.

Me on 1366x768 display. Cramped. But that is all I got.

Also can you make this update soon?

[2022-09-22 19:53] RudiDeVos commented on #7
Current tracing bugs in a refactor I did in Aug.
I will check your changes later

[2022-10-11 20:14] Neustradamus commented on #51
@RudiDeVos: Can you look?

[2022-10-11 20:17] Neustradamus commented on #44
@RudiDeVos: Can you look?

[2022-10-11 20:21] Neustradamus commented on #53
@RudiDeVos: Can you look the last comment?

[2022-10-11 20:47] Neustradamus commented on #56
@RudiDeVos: Can you look the last comment?

[2022-10-13 21:27] nicthegarden opened #60 "Overload Memory buffer - Possible Exploit : Issue with a lot of Network card."
When we have 7 network cards over on a machine , there is an error message occuring on the client side : "Server is trying yo overload a memory buffer Possible exploit."

With the standard VNC Viewer the issue is showing : "String exceeds maximum length"

TightVNC Viewer seems to handler it properly. I have taken a look at the documentation and nothing really mentionned about upgrading the Buffer

[2022-10-18 20:45] Neustradamus commented on #60
@RudiDeVos: Can you look?

[2022-10-18 22:55] Neustradamus commented on #7
@RudiDeVos: Have you looked?

[2022-10-20 17:05] RudiDeVos commented on #60
The cause is the enumeration of all ip addresses. This is bigger then the buffer size used to show this info.
Usual this is caused by fake server/viewers trying to "Overload Memory buffer"

The message come from our own code that detect unexpected big sizes.
In next update we can increase the buffer size, to fit more text

[2022-10-25 18:51] RudiDeVos commented on #60
Done
changes wil be in 1.3.9. dev5

[2022-10-25 18:58] RudiDeVos commented on #54
done
1.3.9 dev 5

[2022-10-30 07:42] syui opened #61 "uvncbvba.UltraVnc version 1.3.8.2"
https://github.com/microsoft/winget-pkgs/tree/master/manifests/u/uvncbvba/UltraVnc

It seems that `uvnc.com` can only download up to 1.3.8.1, but `uvnc.eu` can.
Has 1.3.8.2 been released?

[2022-10-31 05:17] KangLin commented on #7
## Suggest for the problems
- keymap.h. It's encode is UTF-8. so you are meed to add /utf-8 into compile options.
- std::min and std::max. please see: https://en.cppreference.com/w/cpp/algorithm/max . It is need C++11.
- strcat, strcpy etc. In MSVC need to add suffix _s . but it is not defined in other complier. so need you are define. If you are not concerned with security, you can disable the wa

[2022-11-02 17:16] bhall7 opened #62 "Can't change resolution in UltraVNC Server 1.3.8.1 on Windows 11"
Hi,

I have UltraVNC 1.3.8.1 server running on both a Windows 10 Pro PC and on a Windows 11 Pro PC. I'm using VNC Viewer (free client by RealVNC for both Mac and Windows).

While in an active session, I can change the screen resolution on the Windows 10 server machine (currently set to 1600 x 900), but whenever I try to change the resolution on the Windows 11 server machine, it always reverts back

[2022-11-02 20:13] PatriciusMaximus commented on #60
@RudiDeVos , Any ETA on availability of version 1.3.9.

[2022-11-02 20:32] Neustradamus commented on #61
@syui: You can see here:
- https://forum.uvnc.com/viewtopic.php?t=37597

Currently there is a 1.3.9 dev builds:
- https://forum.uvnc.com/viewforum.php?f=86

[2022-11-02 20:34] Neustradamus commented on #60
@PatriciusMaximus: 1.3.9-dev builds are here: https://forum.uvnc.com/viewforum.php?f=86

[2022-11-05 15:12] RudiDeVos commented on #61
1.3.8.2 was not released, it contain some bugs.
For testing it's uploaded to the ftp server. To avoid confusing, removed the 103.8.2 folder.

[2022-11-08 16:18] bhall7 commented on #62
Anyone?

[2022-11-08 21:25] RudiDeVos commented on #62
We can't repeat this on windows 11, winvnc running as app.
retesting as service
It also works.

you change the screen settinngs.
Then you get the timer to confirm that the resolution is OK, press ok and screen stay on w10 and w11

[2022-11-08 22:28] bhall7 commented on #62
Have you tried to replicate the issue while running UVNC Server on a headless Windows 11 machine?

Here's a screen capture of what happens while trying to change resolution on UVNC Server on Windows 11 running headless: https://www.youtube.com/watch?v=gBcyG517Er4

[2022-11-09 04:33] syui commented on #61
Thank you very much.
https://github.com/microsoft/winget-pkgs/pull/87767

[2022-11-09 04:33] #61 closed

[2022-11-09 18:27] RudiDeVos commented on #62
Didn't tested Headless.
The problem is actual
**"Running vnc on a headless windows11 server, the screen resolution is stuck to the 1024x768 default setting."**

1.3.8 have the virtual display driver implemented, but it's controled by the ultravnc viewer.

Using this setting you get one display
![image](https://user-images.githubusercontent.com/71467484/200910255-41ea0889-f3b2-4a00-bc69-a5f8e578da9

[2022-11-10 04:11] bhall7 commented on #62
Thanks for the reply. I'm using a Mac, so I'm using the VNC Viewer (free client by RealVNC for both Mac and Windows). I was able to connect using the UVNC client from another Windows machine, and it worked as anticipated. However, when I tried to connect with VNC Viewer from my Mac, it still does not allow me to change the resolution.

I ended up buying a DisplayPort "Dummy/Ghost Display Adapter"

[2022-11-11 10:37] raymanP opened #63 "UVNC2ME Windows 11 update"
Hi, I don't know where to ask, but will there be an UVNC2ME update for Windows 11?
Kind Regards, Reimund

[2022-11-16 14:54] 0xoffsec commented on #52
Is there any update @Neustradamus ?

[2022-11-17 17:27] bhall7 commented on #62
I purchased this virtual display adapter (https://www.amazon.com/gp/product/B071CGCTMY) for like $7, which then enabled me to change the resolution to anything I needed for my application. Would be nice to have a functioning software virtual display working in Windows 11 Pro, but for now, the hardware virtual display adapter solved it.

[2022-11-17 17:27] #62 closed